@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    border: 0;
    padding: none;
}
body {
    font-family: Lato, sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
}
header {
    text-align: left;
    font: helvetica sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
    float: left;
   
}
header h1 {
    font-size: 280%;
   
}

nav {
    align-content: center;
    float: right;   
}
   
nav ul li {
    list-style: none;
    display: inline-block;
    font-size: 1.5em;
    margin: 1px;
    border: 0;
    padding: 2px;

   

}

a {
    text-align: center;
    text-decoration: none;
    margin: 5px;
    padding: 2px;
    border: 0;

}

nav a:hover {
    background: #514438;
    color: #fff;

}

.wrapper {
    

}