@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    border: 0;
    padding: none;
}
body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;

nav {
    align-content: center;
    float: right;   
}
   
nav ul li {
    list-style: none;
    display: inline-block;
    font-size: 1.5em;
    margin: 1px;
    border: 0;
    padding: 2px;

   

}

a {
    text-align: center;
    text-decoration: none;
    margin: 5px;
    padding: 2px;
    border: 0;

}

nav a:hover {
    background: #514438;
    color: #fff;

}

.wrapper {
    

}