@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

/* Clear default margin, padding and border */
* {
    margin: 0;
    border: 0;
    padding: 0;
}

/* body container */
.container {
    max-width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background-color: #f8f8ff;
    color: #555;
}
  

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #30ad23;
}

p {
    text-justify: auto;
}

a {
    color: #555; 
    text-decoration: none;   
}
/* Header */

#header, #footer {
    width: 100%;
    height: 4.5em;
    text-align: center;
}

#logo {
    float: left;
    font-size: 280%;
    color:#30ad23;
}
 
/*Navigation links*/

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style: none;
    margin-right: 30px;
    letter-spacing: 4px;
}

a {
    text-decoration: none;
    color: inherit;
}


#menu a:hover {
    color:  #30ad23;
    font-size: 110%;
    border-bottom: 1px solid #30ad23;
}

.active {
    border-bottom: 1px solid #30ad23;
}

/*Hero Image*/
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/ogbunike-hero-image.jpg) no-repeat center center;
    background-size: cover;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* create the level of zoom for hero-image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* Hero image cover text */
#cover-text {
    font-size: 110%;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;
    padding: 10px;
   
    background-color: rgba(248, 248, 255, 0.7);

    bottom: 30px;
    right: 120px;

    position: absolute;
}

/* Overview section */

#overview {
    width: auto;
    margin-top: 30px;    
}

#overview .overview {
    float: left;
    width: 22.5%;  
    margin: 30px 10px;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    box-sizing: border-box;     
}

.overview ul {
    list-style-position: inside;
}

#overview h2 {
    width: 180px;
}

hr {
    border-top: 1px solid #555;
}



#overview a {
    border-bottom: 1px solid #30ad23;
}

#overview a:hover {
    color: #30ad23;

}

#booking div h3, #booking div p{
    display: inline;
}
  
/* Footer */
small p {
      margin-top: 10px;
      padding: 5px;
}

#social-networks {
    height: 66%;
}

#social-networks ul {     
    list-style: none; 
    margin: 0;
    padding: 0;  
}
#social-networks li {
    display: inline;
    padding: 0;
    margin: 0; 
}

#footer {
    border-top: 1px solid #555;
    margin: 0;
    padding: 5px;
    clear: both;
 }
 

#footer i {
    margin: 10px;
    border: 5px;
    font-size: 160%;
}

/* Gallery images */
#photos {
    clear:both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
    background-image: url(../images/gallery\ background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    width: 100%;
}

/* Booking form */

.visit h3 {
    margin: 10px 0;
}

#booking-form, #opening-times, #booking-rate {
    width: 50%;
    float: left;
    margin: 30px 0 10px;
    box-sizing: border-box;
}

.visit p {
    padding-top: 10px;
}

.radio {
    margin: 5px 10px;
}

form .text, form #email, form #mnumber, form #datetime {
    width: 85%;
    border: 1px solid #8bf182;
    border-radius: 2px;
    margin: 5px 0;
    display: block;
}

form #submit {
    border: 1px solid #555;
    border-radius: 5px;
    padding: 5px;
    margin-top: 15px;
    background-color:#8bf182;
    font-size: 120%;
}

iframe {
    margin: 20px 0;
    text-align: center;
    clear: both;
    width: 100%;
    height: 300px;
}

/* About */

#about-page h3 {
    margin: 20px 0;
}

#about-page p {
    text-align: justify;
    margin: 20px 0;
}

/* Media querry for screen size 1200px and down */
@media screen and (max-width: 1200px) {
    #cover-text{
        right: 50px;
        font-size: 100%;
        width: 250px;
        height: 180px;
    }

    #logo {
        font-size: 250%;
    }

    #menu li {
       margin-right: 20px;
       letter-spacing: 3px;
    }
 
}

/* Media querry for screen size 950px and down */
@media screen and (max-width: 950px) {
    .container {
        max-width: 95%;
    }
    
    #logo {
        font-size: 230%;
    }

    #menu li {
        margin-right: 10px;
        letter-spacing: 2px;
    }

    #photos {
        column-count: 3;
    }  
}